<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIG8F8-vv33Ku4lCsXQ8eJwr9IdwPK99M</string>
	<key>GCM_SENDER_ID</key>
	<string>585513202736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.managerCar.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>managercarios</string>
	<key>STORAGE_BUCKET</key>
	<string>managercarios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585513202736:ios:6fafaa997d013837f4e9f5</string>
</dict>
</plist>